---
import Link from '../Link/Link.astro';

interface Props {
	links: {
        text: string,
        href: string
    }[];
}

const { links } = Astro.props;
---

<article>
  <h3 class="font-semibold text-lg mb-3 text-gray-900 dark:text-gray-100"><slot name="title"/></h3>
  <p class="text-gray-600 dark:text-gray-400"><slot/></p>
  <div class="flex gap-8">
    {
      links.map((link) => <Link href={link.href}>{link.text}</Link>)
    }
  </div>
</article>

