---
import SectionHeading from "../SectionHeading/SectionHeading.astro";

---

<section class="grid grid-cols-1 gap-8">
    <SectionHeading><slot name="heading"/></SectionHeading>
    <slot />
</section>
