---
import newTabIcon from './up-right-from-square-solid.svg?raw';

interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href} class="h-10 underline font-medium hover:no-underline flex items-center text-gray-800 dark:text-gray-200" target="_blank">
  <slot /><i class="w-3 h-3 ml-2 block fill-current" aria-hidden="true"><Fragment set:html={newTabIcon} /></i>
</a>
